<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @permission.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @permission.role_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @permission.activity %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
