<%= form_for(@zone) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Importar Zona</h2>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
  <h3><%= f.label :geoPositions, t(".geo_positions")%></h3>

  <%= f.fields_for :geoPositions do |builder|%>
    <%= render  'geoPosition_fields',:f => builder %>
  <% end %>
</div>
  <p><%= link_to_add_fields "Add geoPositions", f , :geoPositions %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


algo

<%= form_tag import_zones_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
