<p class="fields">
<%= f.label :geoPositions%><br>
  <%= f.label :lat %>
  <%= f.text_field :lat %><br>
  <%= f.label :lng %>
  <%= f.text_field :lng %><br>

  <%= link_to_remove_fields t(".remove"), f %>

</p>
