<p id="notice"><%= notice %></p>

<h2>Importar Casos</h2>

<%= form_tag import_events_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>

<h1>Casos Reportados</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.address %></td>
        <td><%= event.lat %></td>
        <td><%= event.lng %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<p>
  Download:
  <%= link_to "CSV", events_path(format: "csv") %> |
  <%= link_to "Excel", events_path(format: "xls") %>
</p>

<script type="text/javascript">

function loadPoints(){

  var array = [<%= raw @events.to_json %>];
  var data = array[0];
  for (var i = 0; i < data.length; i++) {
    var point  = {};
    point.lat =  data[i].lat;
    point.lng =  data[i].lng;
    manyPoints.push(point);

  }
}

function loadZones(){

  <% @zones.each do |zone|%>
      var zonePoints = []
      var data = [<%= raw getGeoPositions(zone).to_json %>]
      data = data[0]
      for (var i = 0; i < data.length; i++) {
        var point  = {};
        point.lat =  data[i].lat;
        point.lng =  data[i].lng;
        zonePoints.push(point);
      }
      arrayZones.push(zonePoints)
  <% end %>



}

//console.log(js);
</script>

<div id="map" style="height:100%;">
  Here put my map
</div>
<br />
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5Rbi-pHccBYHwbIbiqXskL8y4dzxdUUQ&libraries=geometry&callback=initMap">
</script>
<%= link_to 'Reportar Caso', new_event_path %>
