<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">address</Data></Cell>
        <Cell><Data ss:Type="String">lat</Data></Cell>
        <Cell><Data ss:Type="String">lng </Data></Cell>
        <Cell><Data ss:Type="String">id</Data></Cell>
      </Row>
    <% @events.each do |event| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= event.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= event.lat %></Data></Cell>
        <Cell><Data ss:Type="String"><%= event.lng %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= event.id %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

