<%= form_for(@geo_position) do |f| %>
  <% if @geo_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geo_position.errors.count, "error") %> prohibited this geo_position from being saved:</h2>

      <ul>
      <% @geo_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :zone_id %><br>
    <%= f.number_field :zone_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
