<p id="notice"><%= notice %></p>

<h1>Listing Geo Positions</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geo_positions.each do |geo_position| %>
      <tr>
        <td><%= geo_position.lat %></td>
        <td><%= geo_position.lng %></td>
        <td><%= geo_position.zone_id %></td>
        <td><%= link_to 'Show', geo_position %></td>
        <td><%= link_to 'Edit', edit_geo_position_path(geo_position) %></td>
        <td><%= link_to 'Destroy', geo_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geo position', new_geo_position_path %>
