<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @geo_position.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @geo_position.lng %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @geo_position.zone_id %>
</p>

<%= link_to 'Edit', edit_geo_position_path(@geo_position) %> |
<%= link_to 'Back', geo_positions_path %>
