<h1>Parametros Curva Prevalencia</h1>

<%= form_tag("show", method: "get") do %>

<div class="field">
<%= label_tag(:a, "E0") %><br>
<%= text_field_tag(:a, 15409 ) %>
</div>

<div class="field">
<%= label_tag(:b, "L0") %><br>
<%= text_field_tag(:b, 13279 )%>
</div>

<div class="field">
<%= label_tag(:c, "P0") %><br>
<%= text_field_tag(:c, 20707 ) %>
</div>

<div class="field">
<%= label_tag(:d, "Ms0") %><br>
<%= text_field_tag(:d, 1700000 ) %>
</div>

<div class="field">
<%= label_tag(:e, "Me0") %><br>
<%= text_field_tag(:e, 1340 )%>
</div>

<div class="field">
<%= label_tag(:f, "Mi0") %><br>
<%= text_field_tag(:f, 0 ) %>
</div>

<div class="field">
<%= label_tag(:g, "Hs0") %><br>
<%= text_field_tag(:g, 330590 ) %>
</div>

<div class="field">
<%= label_tag(:h, "He0") %><br>
<%= text_field_tag(:h, 0 ) %>
</div>

<div class="field">
<%= label_tag(:i, "Hi0") %><br>
<%= text_field_tag(:i, 8 ) %>
</div>

<div class="field">
<%= label_tag(:j, "Hr0")  %><br>
<%= text_field_tag(:j, 0 )  %>
</div>

<%= submit_tag("Enviar Datos") %>
<% end %>
