<%= form_for(@faq) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pregunta %><br>
    <%= f.text_field :pregunta %>
  </div>
  <div class="field">
    <%= f.label :respuesta %><br>
    <%= f.text_area :respuesta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
