<p id="notice"><%= notice %></p>

<h1>Preguntas Frecuentes</h1>
<br>
<br>

<% @faqs.each do |faq| %>
<p>
<strong> <%= faq.pregunta %> </strong>
</p>

<p>
<%= faq.respuesta %>
</p>

<br>
<% end %>

<%= link_to 'Nueva Pregunta/Propuesta', new_faq_path %>