<p id="notice"><%= notice %></p>

<p>
  <strong>Pregunta:</strong>
  <%= @faq.pregunta %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @faq.respuesta %>
</p>

<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
