<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Predicción Dengue" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"> <h1><%= link_to 'Home', root_path %></a></h1></li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>


    <section class="top-bar-section">
      <ul class="right">
        <li ><a href="#">Contacto</a></li>
        <li class="has-dropdown">
          <a href="#"> Usuarios </a>
            <ul class="dropdown">
              <% if user_signed_in? %> Logged in as <strong> <%= current_user.email %> </strong>.</a> </li>
              <li> <a href="#"> <%= link_to 'Edit profile', edit_user_registration_path %> </a></li>
              <li> <a href="#"> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </a></li>
              <% else %>
              <li> <a href="#"> <%= link_to "Sign up", new_user_registration_path %></a></li>
              <li> <a href="#"> <%= link_to "Login", new_user_session_path %> </a></li>
              <% end %>
          </ul>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#"><%= link_to 'Nuestro Equipo', equipos_path %></a></li>
        <li><a href="#">Publicaciones</a></li>
        <li><a href="#">Progreso</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#"></a> <%= link_to "FAQs", faqs_path %> </li>
        <li><a href="#"></a> <%= link_to "Epi Year", epiyears_path %> </li>
        <li><a href="#"></a> <%= link_to "Casos", events_path %> </li>
        <li><a href="#"></a> <%= link_to "MED", med_calcular_path %> </li>
      </ul>       

    </section>
    </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
   

      <%= yield %>

    </div>
  </body>
</html>
