<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
      var data = google.visualization.arrayToDataTable([
        ['Semana','IC 95% inferior','IC 95% superior','promedio','Casos 2009'],
        ['1',3.363274132,9.436725868,6.4,1],
        ['2',1.835564886,11.76443511,6.8,3],
        ['3',1.617543312,12.38245669,7,1],
        ['4',0.955774986,11.44422501,6.2,1],
        ['5',0.465860929,10.73413907,5.6,3],
        ['6',0.856122361,9.943877639,5.4,1],
        ['7',1.305753834,11.49424617,6.4,2],
        ['8',0.929840239,11.07015976,6,0],
        ['9',0.036801582,11.56319842,5.8,0],
        ['10',0.865191895,12.3348081,6.6,3],
        ['11',1.39939268,9.00060732,5.2,0],
        ['12',1.586491847,11.61350815,6.6,1],
        ['13',0.726729064,4.473270936,2.6,2],
        ['14',1.22055088,8.37944912,4.8,3],
        ['15',1.320282712,5.479717288,3.4,1],
        ['16',1.143288604,6.856711396,4,5],
        ['17',1.787200868,6.212799132,4,5],
        ['18',2.792,4.408,3.6,2],
        ['19',1.856305038,8.543694962,5.2,0],
        ['20',1.841537338,5.758462662,3.8,1],
        ['21',1.98,6.02,4,1],
        ['22',1.592,3.208,2.4,0],
        ['23',0,4.303154359,2,0],
        ['24',0,3.473270936,1.6,2],
        ['25',0.643230193,4.956769807,2.8,0],
        ['26',0,8.56404116,3.8,2],
        ['27',0.613137808,5.786862192,3.2,4],
        ['28',1.461680946,6.138319054,3.8,4],
        ['29',1.644659131,7.955340869,4.8,2],
        ['30',1.376,6.224,3.8,10],
        ['31',0.431753797,6.768246203,3.6,5],
        ['32',2.139996117,6.260003883,4.2,3],
        ['33',1.431218432,7.368781568,4.4,4],
        ['34',1.563274132,7.636725868,4.6,2],
        ['35',2.13519579,11.86480421,7,2],
        ['36',1.320282712,5.479717288,3.4,4],
        ['37',1.550623197,6.049376803,3.8,5],
        ['38',1.526729064,5.273270936,3.4,1],
        ['39',2.231753797,8.568246203,5.4,5],
        ['40',3.584,6.816,5.2,3],
        ['41',4.645087297,10.1549127,7.4,2],
        ['42',1.59426759,11.20573241,6.4,5],
        ['43',1.545961615,11.65403839,6.6,3],
        ['44',3.059938687,8.540061313,5.8,2],
        ['45',2.802148706,11.59785129,7.2,5],
        ['46',0,14.77109516,7,5],
        ['47',0.529812781,8.670187219,4.6,8],
        ['48',0,13.66536105,6,6],
        ['49',0,17.0834079,8.2,8],
        ['50',0,13.06205625,6.2,4],
        ['51',0.132095117,9.467904883,4.8,8],
        ['52',0.056122361,9.143877639,4.6,6],
        ]);

var options = {
  title : 'Media Aritmética',
  vAxis: {title: 'Casos por Semana Epidemiológica'},
  hAxis: {title: 'Semana Epidemiológica'},
  seriesType: 'line',
  series: {
  0: {color: '#009301'},
  1: {color: '#F10400'}, 
  2: {color: '#FCCA0A'},
  3: {type: 'bars', color: '#B1B5AE'}},
  fontSize: 14,
  annotations: {
    textStyle: {
      fontName: 'Times-Roman',
      fontSize: 14,
      bold: true,
      italic: true,
          // The color of the text.
          color: '#871b47',
          // The color of the text outline.
          auraColor: '#d799ae',
          // The transparency of the text.
          opacity: 0.8
        }
      }
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
</head>
<body>
  <div id="chart_div" style="width: 1400px; height: 700px;"></div>
</body>
</html>