<%= form_for(@equipo) do |f| %>
  <% if @equipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipo.errors.count, "error") %> prohibited this equipo from being saved:</h2>

      <ul>
      <% @equipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foto %><br>
<!--     <%= f.text_field :foto %> -->
    <%= f.file_field :files, multiple: true %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :fechaInicio %><br>
    <%= f.date_select :fechaInicio %>
  </div>
  <div class="field">
    <%= f.label :fechaFin %><br>
    <%= f.date_select :fechaFin %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br>
    <%= f.text_area :perfil %>
  </div>
  <div class="field">
    <%= f.label :responsabilidades %><br>
    <%= f.text_area :responsabilidades %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
