<p id="notice"><%= notice %></p>
<%= link_to 'New Equipo', new_equipo_path %>
<h1>Equipo de Trabajo</h1>
<% @equipos.each do |equipo| %> 
  <strong>Nombre:</strong>            <%= equipo.nombre %>            <br>
  <strong>Cargo:</strong>             <%= equipo.cargo %>             <br>
  <strong>Perfil:</strong>            <%= equipo.perfil %>            <br>
  <strong>Responsabilidades:</strong> <%= equipo.responsabilidades %> <br>
  <strong>Foto:</strong>              <%= equipo.foto %>              <br>
  <strong>Fechainicio:</strong>       <%= equipo.fechaInicio %>       <br>
  <strong>Fechafin:</strong>          <%= equipo.fechaFin %>          <br>
  <p><%= link_to 'Show', equipo %>, <%= link_to 'Edit', edit_equipo_path(equipo) %>, <%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <br>
<% end %>



<!-- <h1>Listing Equipos</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Cargo</th>
      <th>Fechainicio</th>
      <th>Fechafin</th>
      <th>Perfil</th>
      <th>Responsabilidades</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipos.each do |equipo| %>
      <tr>
        <td><%= equipo.foto %></td>
        <td><%= equipo.nombre %></td>
        <td><%= equipo.cargo %></td>
        <td><%= equipo.fechaInicio %></td>
        <td><%= equipo.fechaFin %></td>
        <td><%= equipo.perfil %></td>
        <td><%= equipo.responsabilidades %></td>
        <% if can? :update, @equipo %>
          <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
        <% end %>
        <td><%= link_to 'Show', equipo %></td>
        <td><%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->



