<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @equipo.foto %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @equipo.nombre %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @equipo.cargo %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @equipo.fechaInicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @equipo.fechaFin %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @equipo.perfil %>
</p>

<p>
  <strong>Responsabilidades:</strong>
  <%= @equipo.responsabilidades %>
</p>

<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
