<%= form_for(@epiyear) do |f| %>
  <% if @epiyear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@epiyear.errors.count, "error") %> prohibited this epiyear from being saved:</h2>

      <ul>
      <% @epiyear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Año %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :s1 %><br>
    <%= f.number_field :s1 %>
  </div>
  <div class="field">
    <%= f.label :s2 %><br>
    <%= f.number_field :s2 %>
  </div>
  <div class="field">
    <%= f.label :s3 %><br>
    <%= f.number_field :s3 %>
  </div>
  <div class="field">
    <%= f.label :s4 %><br>
    <%= f.number_field :s4 %>
  </div>
  <div class="field">
    <%= f.label :s5 %><br>
    <%= f.number_field :s5 %>
  </div>
  <div class="field">
    <%= f.label :s6 %><br>
    <%= f.number_field :s6 %>
  </div>
  <div class="field">
    <%= f.label :s7 %><br>
    <%= f.number_field :s7 %>
  </div>
  <div class="field">
    <%= f.label :s8 %><br>
    <%= f.number_field :s8 %>
  </div>
  <div class="field">
    <%= f.label :s9 %><br>
    <%= f.number_field :s9 %>
  </div>
  <div class="field">
    <%= f.label :s10 %><br>
    <%= f.number_field :s10 %>
  </div>
  <div class="field">
    <%= f.label :s11 %><br>
    <%= f.number_field :s11 %>
  </div>
  <div class="field">
    <%= f.label :s12 %><br>
    <%= f.number_field :s12 %>
  </div>
  <div class="field">
    <%= f.label :s13 %><br>
    <%= f.number_field :s13 %>
  </div>
  <div class="field">
    <%= f.label :s14 %><br>
    <%= f.number_field :s14 %>
  </div>
  <div class="field">
    <%= f.label :s15 %><br>
    <%= f.number_field :s15 %>
  </div>
  <div class="field">
    <%= f.label :s16 %><br>
    <%= f.number_field :s16 %>
  </div>
  <div class="field">
    <%= f.label :s17 %><br>
    <%= f.number_field :s17 %>
  </div>
  <div class="field">
    <%= f.label :s18 %><br>
    <%= f.number_field :s18 %>
  </div>
  <div class="field">
    <%= f.label :s19 %><br>
    <%= f.number_field :s19 %>
  </div>
  <div class="field">
    <%= f.label :s20 %><br>
    <%= f.number_field :s20 %>
  </div>
  <div class="field">
    <%= f.label :s21 %><br>
    <%= f.number_field :s21 %>
  </div>
  <div class="field">
    <%= f.label :s22 %><br>
    <%= f.number_field :s22 %>
  </div>
  <div class="field">
    <%= f.label :s23 %><br>
    <%= f.number_field :s23 %>
  </div>
  <div class="field">
    <%= f.label :s24 %><br>
    <%= f.number_field :s24 %>
  </div>
  <div class="field">
    <%= f.label :s25 %><br>
    <%= f.number_field :s25 %>
  </div>
  <div class="field">
    <%= f.label :s26 %><br>
    <%= f.number_field :s26 %>
  </div>
  <div class="field">
    <%= f.label :s27 %><br>
    <%= f.number_field :s27 %>
  </div>
  <div class="field">
    <%= f.label :s28 %><br>
    <%= f.number_field :s28 %>
  </div>
  <div class="field">
    <%= f.label :s29 %><br>
    <%= f.number_field :s29 %>
  </div>
  <div class="field">
    <%= f.label :s30 %><br>
    <%= f.number_field :s30 %>
  </div>
  <div class="field">
    <%= f.label :s31 %><br>
    <%= f.number_field :s31 %>
  </div>
  <div class="field">
    <%= f.label :s32 %><br>
    <%= f.number_field :s32 %>
  </div>
  <div class="field">
    <%= f.label :s33 %><br>
    <%= f.number_field :s33 %>
  </div>
  <div class="field">
    <%= f.label :s34 %><br>
    <%= f.number_field :s34 %>
  </div>
  <div class="field">
    <%= f.label :s35 %><br>
    <%= f.number_field :s35 %>
  </div>
  <div class="field">
    <%= f.label :s36 %><br>
    <%= f.number_field :s36 %>
  </div>
  <div class="field">
    <%= f.label :s37 %><br>
    <%= f.number_field :s37 %>
  </div>
  <div class="field">
    <%= f.label :s38 %><br>
    <%= f.number_field :s38 %>
  </div>
  <div class="field">
    <%= f.label :s39 %><br>
    <%= f.number_field :s39 %>
  </div>
  <div class="field">
    <%= f.label :s40 %><br>
    <%= f.number_field :s40 %>
  </div>
  <div class="field">
    <%= f.label :s41 %><br>
    <%= f.number_field :s41 %>
  </div>
  <div class="field">
    <%= f.label :s42 %><br>
    <%= f.number_field :s42 %>
  </div>
  <div class="field">
    <%= f.label :s43 %><br>
    <%= f.number_field :s43 %>
  </div>
  <div class="field">
    <%= f.label :s44 %><br>
    <%= f.number_field :s44 %>
  </div>
  <div class="field">
    <%= f.label :s45 %><br>
    <%= f.number_field :s45 %>
  </div>
  <div class="field">
    <%= f.label :s46 %><br>
    <%= f.number_field :s46 %>
  </div>
  <div class="field">
    <%= f.label :s47 %><br>
    <%= f.number_field :s47 %>
  </div>
  <div class="field">
    <%= f.label :s48 %><br>
    <%= f.number_field :s48 %>
  </div>
  <div class="field">
    <%= f.label :s49 %><br>
    <%= f.number_field :s49 %>
  </div>
  <div class="field">
    <%= f.label :s50 %><br>
    <%= f.number_field :s50 %>
  </div>
  <div class="field">
    <%= f.label :s51 %><br>
    <%= f.number_field :s51 %>
  </div>
  <div class="field">
    <%= f.label :s52 %><br>
    <%= f.number_field :s52 %>
  </div>
  <div class="field">
    <%= f.label :poblacion %><br>
    <%= f.number_field :poblacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
