

<h1>Casos por semana y por Años</h1>

<table>
  <thead>
    <tr>
      <th>Año</th>
      <th>S1</th>
      <th>S2</th>
      <th>S3</th>
      <th>S4</th>
      <th>S5</th>
      <th>S6</th>
      <th>S7</th>
      <th>S8</th>
      <th>S9</th>
      <th>S10</th>
      <th>S11</th>
      <th>S12</th>
      <th>S13</th>
      <th>S14</th>
      <th>S15</th>
      <th>S16</th>
      <th>S17</th>
      <th>S18</th>
      <th>S19</th>
      <th>S20</th>
      <th>S21</th>
      <th>S22</th>
      <th>S23</th>
      <th>S24</th>
      <th>S25</th>
      <th>S26</th>
      <th>S27</th>
      <th>S28</th>
      <th>S29</th>
      <th>S30</th>
      <th>S31</th>
      <th>S32</th>
      <th>S33</th>
      <th>S34</th>
      <th>S35</th>
      <th>S36</th>
      <th>S37</th>
      <th>S38</th>
      <th>S39</th>
      <th>S40</th>
      <th>S41</th>
      <th>S42</th>
      <th>S43</th>
      <th>S44</th>
      <th>S45</th>
      <th>S46</th>
      <th>S47</th>
      <th>S48</th>
      <th>S49</th>
      <th>S50</th>
      <th>S51</th>
      <th>S52</th>
      <th>Poblacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @epiyears.each do |epiyear| %>
      <tr>
        <td><%= epiyear.year %></td>
        <td><%= epiyear.s1 %></td>
        <td><%= epiyear.s2 %></td>
        <td><%= epiyear.s3 %></td>
        <td><%= epiyear.s4 %></td>
        <td><%= epiyear.s5 %></td>
        <td><%= epiyear.s6 %></td>
        <td><%= epiyear.s7 %></td>
        <td><%= epiyear.s8 %></td>
        <td><%= epiyear.s9 %></td>
        <td><%= epiyear.s10 %></td>
        <td><%= epiyear.s11 %></td>
        <td><%= epiyear.s12 %></td>
        <td><%= epiyear.s13 %></td>
        <td><%= epiyear.s14 %></td>
        <td><%= epiyear.s15 %></td>
        <td><%= epiyear.s16 %></td>
        <td><%= epiyear.s17 %></td>
        <td><%= epiyear.s18 %></td>
        <td><%= epiyear.s19 %></td>
        <td><%= epiyear.s20 %></td>
        <td><%= epiyear.s21 %></td>
        <td><%= epiyear.s22 %></td>
        <td><%= epiyear.s23 %></td>
        <td><%= epiyear.s24 %></td>
        <td><%= epiyear.s25 %></td>
        <td><%= epiyear.s26 %></td>
        <td><%= epiyear.s27 %></td>
        <td><%= epiyear.s28 %></td>
        <td><%= epiyear.s29 %></td>
        <td><%= epiyear.s30 %></td>
        <td><%= epiyear.s31 %></td>
        <td><%= epiyear.s32 %></td>
        <td><%= epiyear.s33 %></td>
        <td><%= epiyear.s34 %></td>
        <td><%= epiyear.s35 %></td>
        <td><%= epiyear.s36 %></td>
        <td><%= epiyear.s37 %></td>
        <td><%= epiyear.s38 %></td>
        <td><%= epiyear.s39 %></td>
        <td><%= epiyear.s40 %></td>
        <td><%= epiyear.s41 %></td>
        <td><%= epiyear.s42 %></td>
        <td><%= epiyear.s43 %></td>
        <td><%= epiyear.s44 %></td>
        <td><%= epiyear.s45 %></td>
        <td><%= epiyear.s46 %></td>
        <td><%= epiyear.s47 %></td>
        <td><%= epiyear.s48 %></td>
        <td><%= epiyear.s49 %></td>
        <td><%= epiyear.s50 %></td>
        <td><%= epiyear.s51 %></td>
        <td><%= epiyear.s52 %></td>
        <td><%= epiyear.poblacion %></td>
        <td><%= link_to 'Show', epiyear %></td>
        <td><%= link_to 'Edit', edit_epiyear_path(epiyear) %></td>
        <td><%= link_to 'Destroy', epiyear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ingresar Casos', new_epiyear_path %>

<h4>Importar Casos</h4>

<%= form_tag import_epiyears_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
