<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @epiyear.year %>
</p>

<p>
  <strong>S1:</strong>
  <%= @epiyear.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @epiyear.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @epiyear.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @epiyear.s4 %>
</p>

<p>
  <strong>S5:</strong>
  <%= @epiyear.s5 %>
</p>

<p>
  <strong>S6:</strong>
  <%= @epiyear.s6 %>
</p>

<p>
  <strong>S7:</strong>
  <%= @epiyear.s7 %>
</p>

<p>
  <strong>S8:</strong>
  <%= @epiyear.s8 %>
</p>

<p>
  <strong>S9:</strong>
  <%= @epiyear.s9 %>
</p>

<p>
  <strong>S10:</strong>
  <%= @epiyear.s10 %>
</p>

<p>
  <strong>S11:</strong>
  <%= @epiyear.s11 %>
</p>

<p>
  <strong>S12:</strong>
  <%= @epiyear.s12 %>
</p>

<p>
  <strong>S13:</strong>
  <%= @epiyear.s13 %>
</p>

<p>
  <strong>S14:</strong>
  <%= @epiyear.s14 %>
</p>

<p>
  <strong>S15:</strong>
  <%= @epiyear.s15 %>
</p>

<p>
  <strong>S16:</strong>
  <%= @epiyear.s16 %>
</p>

<p>
  <strong>S17:</strong>
  <%= @epiyear.s17 %>
</p>

<p>
  <strong>S18:</strong>
  <%= @epiyear.s18 %>
</p>

<p>
  <strong>S19:</strong>
  <%= @epiyear.s19 %>
</p>

<p>
  <strong>S20:</strong>
  <%= @epiyear.s20 %>
</p>

<p>
  <strong>S21:</strong>
  <%= @epiyear.s21 %>
</p>

<p>
  <strong>S22:</strong>
  <%= @epiyear.s22 %>
</p>

<p>
  <strong>S23:</strong>
  <%= @epiyear.s23 %>
</p>

<p>
  <strong>S24:</strong>
  <%= @epiyear.s24 %>
</p>

<p>
  <strong>S25:</strong>
  <%= @epiyear.s25 %>
</p>

<p>
  <strong>S26:</strong>
  <%= @epiyear.s26 %>
</p>

<p>
  <strong>S27:</strong>
  <%= @epiyear.s27 %>
</p>

<p>
  <strong>S28:</strong>
  <%= @epiyear.s28 %>
</p>

<p>
  <strong>S29:</strong>
  <%= @epiyear.s29 %>
</p>

<p>
  <strong>S30:</strong>
  <%= @epiyear.s30 %>
</p>

<p>
  <strong>S31:</strong>
  <%= @epiyear.s31 %>
</p>

<p>
  <strong>S32:</strong>
  <%= @epiyear.s32 %>
</p>

<p>
  <strong>S33:</strong>
  <%= @epiyear.s33 %>
</p>

<p>
  <strong>S34:</strong>
  <%= @epiyear.s34 %>
</p>

<p>
  <strong>S35:</strong>
  <%= @epiyear.s35 %>
</p>

<p>
  <strong>S36:</strong>
  <%= @epiyear.s36 %>
</p>

<p>
  <strong>S37:</strong>
  <%= @epiyear.s37 %>
</p>

<p>
  <strong>S38:</strong>
  <%= @epiyear.s38 %>
</p>

<p>
  <strong>S39:</strong>
  <%= @epiyear.s39 %>
</p>

<p>
  <strong>S40:</strong>
  <%= @epiyear.s40 %>
</p>

<p>
  <strong>S41:</strong>
  <%= @epiyear.s41 %>
</p>

<p>
  <strong>S42:</strong>
  <%= @epiyear.s42 %>
</p>

<p>
  <strong>S43:</strong>
  <%= @epiyear.s43 %>
</p>

<p>
  <strong>S44:</strong>
  <%= @epiyear.s44 %>
</p>

<p>
  <strong>S45:</strong>
  <%= @epiyear.s45 %>
</p>

<p>
  <strong>S46:</strong>
  <%= @epiyear.s46 %>
</p>

<p>
  <strong>S47:</strong>
  <%= @epiyear.s47 %>
</p>

<p>
  <strong>S48:</strong>
  <%= @epiyear.s48 %>
</p>

<p>
  <strong>S49:</strong>
  <%= @epiyear.s49 %>
</p>

<p>
  <strong>S50:</strong>
  <%= @epiyear.s50 %>
</p>

<p>
  <strong>S51:</strong>
  <%= @epiyear.s51 %>
</p>

<p>
  <strong>S52:</strong>
  <%= @epiyear.s52 %>
</p>

<p>
  <strong>Poblacion:</strong>
  <%= @epiyear.poblacion %>
</p>

<%= link_to 'Edit', edit_epiyear_path(@epiyear) %> |
<%= link_to 'Back', epiyears_path %>
